
.exam-header {
	width:100%;
	padding:3px;
	border: 1px solid #000;
	background-color:#ebebe0;
}

.exam-header  h4{
	font-weight:bold;
	margin-left:20px;
	
}
.success_msg_div{
	font-weight:bold;
	font-size:20px;
}
.inner-container{
	border: 1px solid #000;
	padding-bottom:30px;
}

.multiselect {
    width:20em;
    height:15em;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}
