

body {
	background-color: #eee;
	
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

a {
	color: #00b300;
	text-decoration: none;
}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#s-wrap {
	margin: 0 auto;
}

.s-inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 0;
}

.s-relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #fff;
	padding-bottom: 20px;
}
.logo {
	color:red;
	display: inline-block;
	font-size: 0;
	padding-top:20px;
}
#s-navigation {
	position: absolute;
	right: 10px;
	bottom: 0px;
}

#s-menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */
#s-main-menu {
	float: right;
	font-size: 0;
	margin: 10px 0;
}

#s-main-menu > li {
	display: inline-block;
	margin-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}



#s-main-menu > li > a {
	color: #000;
	font-size: 20px;
	font-weight:bold;
	line-height: 18px;
	padding: 30px 0;
	text-decoration:none;
}

#s-main-menu > li:hover > a,
#s-main-menu > li.current-menu-item > a {
	color: #00b300;
	
}

#s-main-menu > li.current-menu-item  {
	
	border-bottom: 3px solid #00b300;
}

/* HEADER > MENU > DROPDOWN #00b300*/
#s-main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 40px;
	padding-top: 10px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #333;
	border: 1px solid #444;
	border-top: none;
	color: #bbb;
	display: block;
	font-size: 14px;
	line-height: 15px;
	padding: 10px 12px;
}

ul.sub-menu > li > a:hover {
	background-color: #2a2a2a; 
	color: #fff;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #00b300;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#s-main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media all and (max-width: 700px) {

	#s-navigation {
		position: static;
		margin-top: 20px;
	}

	#s-menu-toggle {
		display: block;
	}

	#s-main-menu {
		display: none;
		float: none;
	}

	#s-main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#s-main-menu > li {
		margin-top: -1px;
	}

	#s-main-menu > li:first-child {
		margin-top: 0;
	}

	#s-main-menu > li > a {
		background-color: #333;
		border: 1px solid #444;
		color: #bbb;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
	}

	#s-main-menu li > a:hover {
		background-color: #444; 
	}

	#s-main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#s-main-menu > li:hover > a,
	#s-main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #444 !important;
	}

	ul.sub-menu > li > a.parent {
		background: #333 !important;
	}
}




.side-menu {
	
	
}

.collapsible-body{
	background-color: #eee;
	
}
.collapsible-body>ul >li >a{
	font-size:20px;
	padding:20px;
}

.main{
	background-color: #eee;
	
}

.embedPowerBi {
	width:100%;
	height:100%;
	background-color: #eee;
}

.text-center{
	text-align:center;
}

.prgxlogo{
	padding-top:100px;
	padding-bottom:50px;
}


.login-card{
	width:500px;
	height:500px;
}


.listbox:hover {
    background-color: #d6f5f5;
    cursor: pointer;
}




.container {
  margin-top: 20px;
}

.panel-heading {
  font-size: larger;
}

.alert {
  display: none;
}

